$bg-color: #DCE3F4;
$white: #ffffff;
$white-focus: #f0f7ff;
$main-color: #495163;
$main-color-active: #727e99;
$desc-color: #B9E7F1;
$bg-grad-night: linear-gradient(90deg, #536976 0%, #292E49 100%);
$bg-grad-day: linear-gradient(93.69deg, #00D1FF 0%, #1A67DC 100%);

